*{
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: space-around;
}
img{
  width: 220px;
  height: 290px;
  object-fit: none;
  border: 2px solid black;
}
img:hover{
  cursor: pointer;
  border: 5px solid grey;
}

.rock{
  object-position: -150px -120px;
  
}
.paper{
  object-position: -390px -110px;
}
.scissors{
  object-position: -630px -110px;

}
.clicked{
  border: 5px solid red;
  
}